<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s14990_smb_proj1">

    <permission-group
        android:name="com.example.s14990"
        android:label="s14990" />

    <permission
        android:name="com.example.s14990.ITEM_PERMISSION"
        android:label="Item permission"
        android:permissionGroup="com.example.s14990" />

    <uses-permission android:name="com.example.s14990.ITEM_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S14990_smb_Proj1">
        <activity android:name=".MainActivity2"></activity>
        <activity android:name=".LoginActivityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>